body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(55, 37, 14, 0.896);
}
.form {
  position: absolute;
  top: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 400px;
  background-color: rgb(123, 125, 117);
  border-radius: 5px;
}
.input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: none;
  font-size: 20px;

  font-family: cursive;
}
.input:focus {
  outline: none;
}
.input::placeholder {
  color: lightgrey;
}

.list {
  padding: 0;
  margin: 0;
}
.list li {
  list-style-type: none;
  padding: 20px;
  font-family: cursive;
  border-top: dotted;
  border-color: darkgrey;
  position: relative;
}
.list li .fa-trash {
  color: red;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.list li .fa-circle-check {
  color: rgb(13, 8, 152);
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}
.list li.checked {
  color: darkgray;
  text-decoration: line-through;
}
.list li.checked .fa-circle-check {
  color: darkgray;
}
